<ul id="main-menu" class="nav-links">
    <li><a href="/index.php" class="active-link">Inicio</a></li>
    <li><a href="/historia/historia.html">Nuestra Historia</a></li>
    <li><a href="/historia_cerezo/index.html">Historia de Cerezo</a></li>
    <li><a href="/alfoz/alfoz.html">El Alfoz</a></li>
    <li><a href="/lugares/lugares.html">Lugares Emblemáticos</a></li>
    <li><a href="/camino_santiago/camino_santiago.html">Camino de Santiago</a></li>
    <li><a href="/museo/galeria.php">Museo Colaborativo</a></li>
    <li><a href="/museo/museo_3d.php">Museo 3D</a></li>
    <li><a href="/museo/subir_pieza.php">Subir Pieza</a></li>
    <li><a href="/galeria/galeria_colaborativa.php">Galería Colaborativa</a></li>
    <li><a href="/tienda/index.php">Tienda</a></li>
    <li><a href="/visitas/visitas.html">Planifica Tu Visita</a></li>
    <li><a href="/cultura/cultura.html">Cultura y Legado</a></li>
    <li><a href="/personajes/indice_personajes.html">Personajes</a></li>
    <li><a href="/empresa/index.php">Gestión de Yacimientos</a></li>
    <li><a href="/foro/index.html">Foro</a></li>
    <li><a href="/contacto/contacto.html">Contacto</a></li>
</ul>
