@import "../components.css";

        .image-gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            margin-top: 1em;
        }
        .image-gallery img {
            width: 100%;
            max-width: 200px;
            height: auto;
            object-fit: contain; /* Show full photo */
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(var(--color-negro-contraste-rgb), 0.1);
        }

#hero-evidencia-arqueologica-cerezo {
    background-image: linear-gradient(rgba(var(--color-primario-purpura-rgb), 0.6), rgba(var(--color-negro-contraste-rgb), 0.7)), url('/imagenes/arqueologia_cerezo.jpg')
}
