/* Overlay displayed when sidebar or chat is active */
.screen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2999;
}

body.overlay-active .screen-overlay {
    display: block;
}
