/* Styles for galeria/galeria_colaborativa.php */
body {
    background-color: var(--epic-alabaster-bg);
    background-image: var(--alabaster-background-image);
    background-size: cover;
    background-attachment: fixed;
}

.upload-form-container {
    background: var(--epic-transparent-overlay-light);
    padding: 1.5em;
    border-radius: var(--global-border-radius);
    box-shadow: var(--global-box-shadow-light);
}
