@import "../components.css";

        .quote {
            border-left: 3px solid var(--color-secundario-dorado);
            padding-left: 1em;
            margin-left: 1em;
            font-style: italic;
            color: #555;
        }

#hero-becerro-galicano-origen-castilla {
    background-image: linear-gradient(rgba(var(--color-primario-purpura-rgb), 0.6), rgba(var(--color-negro-contraste-rgb), 0.7)), url('/imagenes/becerro_galicano.jpg')
}
