@import "../components.css";

        /* Breadcrumb Styles */
        .breadcrumb-container {
            padding: 0.75em 0;
            margin-bottom: 1em; /* Add some space below breadcrumbs */
        }
        .breadcrumb {
            display: flex;
            flex-wrap: wrap; /* Allow wrapping on small screens */
            list-style: none;
            padding: 0;
            margin: 0;
            font-family: var(--font-primary);
            font-size: 0.9em;
        }
        .breadcrumb li {
            padding: 0 0.3em;
        }
        .breadcrumb li a {
            color: var(--epic-purple-emperor);
            text-decoration: none;
        }
        .breadcrumb li a:hover {
            text-decoration: underline;
        }
        .breadcrumb li + li::before {
            content: ">"; /* Separador */
            padding-right: 0.5em;
            color: var(--color-texto-secundario);
        }
        .breadcrumb li.active {
            color: var(--color-texto-principal);
            font-weight: bold;
        }
        .breadcrumb-error {
            color: var(--epic-error-red);
            font-size: 0.8em;
        }

#hero-auca-patricia-ubicacion {
    background-image: linear-gradient(rgba(var(--epic-purple-emperor-rgb), 0.6), rgba(var(--color-negro-contraste-rgb), 0.7)), url('/imagenes/paisaje_cerezo.jpg')
}
