@import "../components.css";

        .quote {
            border-left: 3px solid var(--epic-gold-main);
            padding-left: 1em;
            margin-left: 1em;
            font-style: italic;
            color: var(--epic-text-muted);
        }

#hero-becerro-galicano-origen-castilla {
    background-image: linear-gradient(rgba(var(--epic-purple-emperor-rgb), 0.6), rgba(var(--color-negro-contraste-rgb), 0.7)), url('/imagenes/becerro_galicano.jpg')
}
