.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #FDE047; /* yellow-300 */
  transition: width 0.3s ease;
  margin-top: 2px;
}
.nav-link:hover::after {
  width: 100%;
}
#mobile-menu.open {
  display: flex;
}
