---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Benvido">
  <h1 class="text-gradient text-4xl mb-4">Benvido a Cerezo de Río Tirón</h1>
  <p>Descobre o seu patrimonio.</p>
  <ul class="mt-4 space-x-4">
    <li><a href="/">Español</a></li>
    <li><a href="/en/">English</a></li>
  </ul>
</BaseLayout>
