<nav id="sidebar" class="sidebar" role="navigation">
    <a href="/index.php" class="logo-link">
        <img src="/assets/img/AlfozCerasioLantaron.jpg" alt="Logo Alfoz de Cerasio y Lantarón" class="logo-image object-center md:object-top">
    </a>
    <div class="sidebar-menu-content"> <!-- New wrapper div -->
        <div id="main-menu-placeholder"></div>
        <div id="admin-menu-placeholder"></div>
        <div id="social-menu-placeholder"></div>
    </div> <!-- End of new wrapper div -->
</nav>
